<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>NetworkManager</vendor>
  <vendor_url>http://www.gnome.org/projects/NetworkManager</vendor_url>
  <icon_name>nm-icon</icon_name>

  <action id="org.freedesktop.network-manager-settings.system.modify">
    <description>Modify system connections</description>
    <description xml:lang="as">প্ৰণালীৰ সংযোগ পৰিবৰ্তন কৰক</description>
    <description xml:lang="bn_IN">সিস্টেমের সংযোগ পরিবর্তন করুন</description>
    <description xml:lang="de">System-Verbindungen bearbeiten</description>
    <description xml:lang="en_GB">Modify system connections</description>
    <description xml:lang="gu">સિસ્ટમ જોડાણોને બદલો</description>
    <description xml:lang="hu">Rendszerkapcsolatok módosítása</description>
    <description xml:lang="it">Modifica le connessioni di sistema</description>
    <description xml:lang="kn">ವ್ಯವಸ್ಥೆಯ ಸಂಪರ್ಕಗಳನ್ನು ಮಾರ್ಪಡಿಸು</description>
    <description xml:lang="mr">प्रणाली जुळवणी संपादीत करा</description>
    <description xml:lang="pl">Modyfikacja połączeń systemowych</description>
    <description xml:lang="sl">Spremeni sistemske povezave</description>
    <description xml:lang="sv">Ändra systemanslutningar</description>
    <description xml:lang="te">సిస్టమ్ అనుసంధానములను సవరించుము</description>
    <description xml:lang="zh_CN">更改系统连接</description>
    <message>System policy prevents modification of system settings</message>
    <message xml:lang="as">প্ৰণালীত ব্যৱহৃত নিয়ম-নীতিৰ বিধিনিষেধৰ কাৰণে প্ৰণালীৰ বৈশিষ্ট্য পৰিবৰ্তন কৰা সম্ভৱ নহয়</message>
    <message xml:lang="bn_IN">সিস্টেমে ব্যবহৃত নিয়ম-নীতির বিধিনিষেধের কারণে সিস্টেমের বৈশিষ্ট্য পরিবর্তন করা সম্ভব নয়</message>
    <message xml:lang="de">Die Systemrichtlinien verhindern das Bearbeiten von Systemeinstellungen</message>
    <message xml:lang="en_GB">System policy prevents modification of system settings</message>
    <message xml:lang="gu">સિસ્ટમ પોલિસી એ સિસ્ટમ સુયોજનોનાં બદલાવને અટકાવે છે</message>
    <message xml:lang="hu">A rendszer házirendje megakadályozza a rendszerbeállítások módosítását</message>
    <message xml:lang="it">La politica di sistema impedisce di modificare le impostazioni di sistema</message>
    <message xml:lang="kn">ವ್ಯವಸ್ಥೆಯ ಸಂಪರ್ಕಗಳನ್ನು ಮಾರ್ಪಡಿಸದಂತೆ ವ್ಯವಸ್ಥೆಯ ನಿಯಮಗಳು ತಡೆಯುತ್ತಿವೆ</message>
    <message xml:lang="mr">प्रणाली करार, प्रणाली संयोजना संपादीत करण्यापासून रोखतो</message>
    <message xml:lang="pl">Polityka systemu powstrzymuje modyfikację ustawień systemowych</message>
    <message xml:lang="sl">Sistemska določila onemogočajo spreminjanje sistemskih nastavitev</message>
    <message xml:lang="sv">Systemets policy förhindrar ändring av systeminställningar</message>
    <message xml:lang="te">సిస్టమ్ అమరికలు సవరించుటకు సిస్టమ్ పాలసి నిరోధిస్తుంది</message>
    <message xml:lang="zh_CN">系统策略阻止更改系统设置</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.network-manager-settings.system.hostname.modify">
    <description>Modify persistent system hostname</description>
    <description xml:lang="de">Den ständigen Rechnernamen des Systems bearbeiten</description>
    <description xml:lang="en_GB">Modify persistent system hostname</description>
    <description xml:lang="hu">Állandó rendszergépnév módosítása</description>
    <description xml:lang="it">Modifica il nome host persistente del sistema</description>
    <description xml:lang="pl">Modyfikacja trwałej systemowej nazwy komputera</description>
    <description xml:lang="sl">Spremeni trajno sistemsko ime gostitelja</description>
    <description xml:lang="sv">Ändra bestående värdnamn för systemet</description>
    <description xml:lang="zh_CN">更改系统固有主机名</description>
    <message>System policy prevents modification of the persistent system hostname</message>
    <message xml:lang="de">Die Systemrichtlinien verhindern das Bearbeiten des ständigen Rechnernamens des Systems</message>
    <message xml:lang="en_GB">System policy prevents modification of the persistent system hostname</message>
    <message xml:lang="hu">A rendszer házirendje megakadályozza a rendszer állandó gépnevének módosítását</message>
    <message xml:lang="it">La politica di sistema impedisce di modificare il nome host persistente del sistema</message>
    <message xml:lang="pl">Polityka systemu powstrzymuje modyfikację trwałej systemowej nazwy komputera</message>
    <message xml:lang="sl">Sistemska pravila preprečujejo spremembo imena gostitelja trajnega sistema</message>
    <message xml:lang="sv">Systemets policy förhindrar ändring av bestående värdnamn för systemet</message>
    <message xml:lang="zh_CN">系统策略阻止更改系统固有主机名</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.network-manager-settings.system.wifi.share.protected">
    <description>Connection sharing via a protected WiFi network</description>
    <description xml:lang="de">Verbindungsfreigabe über ein geschütztes WiFi-Netzwerk</description>
    <description xml:lang="en_GB">Connection sharing via a protected Wi-Fi network</description>
    <description xml:lang="hu">Kapcsolatmegosztás védett WiFi hálózaton</description>
    <description xml:lang="it">Condivide connessione attraverso una rete WiFi protetta</description>
    <description xml:lang="pl">Współdzielenie połączenia przez chronioną sieć WiFi</description>
    <description xml:lang="sl">Deljene povezave preko zaščitenega WiFi omrežja</description>
    <description xml:lang="sv">Anslutningsdelning via ett skyddat trådlöst nätverk</description>
    <description xml:lang="zh_CN">通过受保护的 WiFi 网络共享连接</description>
    <message>System policy prevents sharing connections via a protected WiFi network</message>
    <message xml:lang="de">Die Systemrichtlinien verhindern Verbindungsfreigaben über ein geschütztes WiFi-Netzwerk</message>
    <message xml:lang="en_GB">System policy prevents sharing connections via a protected Wi-Fi network</message>
    <message xml:lang="hu">A rendszer házirendje megakadályozza a kapcsolatok megosztását védett WiFi hálózaton</message>
    <message xml:lang="it">La politica di sistema impedisce di condividere connessioni attraverso una rete WiFi protetta</message>
    <message xml:lang="pl">Polityka systemu powstrzymuje współdzielenie połączeń przez chronioną sieć WiFi</message>
    <message xml:lang="sl">Sistemska pravila preprečujejo deljenje povezav preko zaščitenega WiFi omrežja</message>
    <message xml:lang="sv">Systemets policy förhindrar delning av anslutningar via ett skyddat trådlöst nätverk</message>
    <message xml:lang="zh_CN">系统策略阻止使用受保护的 WiFi 网络共享连接</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.network-manager-settings.system.wifi.share.open">
    <description>Connection sharing via an open WiFi network</description>
    <description xml:lang="de">Verbindungsfreigabe über ein offenes WiFi-Netzwerk</description>
    <description xml:lang="en_GB">Connection sharing via an open Wi-Fi network</description>
    <description xml:lang="hu">Kapcsolatmegosztás nyílt WiFi hálózaton</description>
    <description xml:lang="it">Condivide connessione attraverso una rete WiFi aperta</description>
    <description xml:lang="pl">Współdzielenie połączenia przez otwartą sieć WiFi</description>
    <description xml:lang="sl">Deljene povezave preko odprtega WiFi omrežja</description>
    <description xml:lang="sv">Anslutningsdelning via ett öppet trådlöst nätverk</description>
    <description xml:lang="zh_CN">通过公开 WiFi 网络共享连接</description>
    <message>System policy prevents sharing connections via an open WiFi network</message>
    <message xml:lang="de">Die Systemrichtlinien verhindern Verbindungsfreigaben über ein offenes WiFi-Netzwerk</message>
    <message xml:lang="en_GB">System policy prevents sharing connections via an open Wi-Fi network</message>
    <message xml:lang="hu">A rendszer házirendje megakadályozza a kapcsolatok megosztását nyílt WiFi hálózaton</message>
    <message xml:lang="it">La politica di sistema impedisce di condividere connessioni attraverso una rete WiFi aperta</message>
    <message xml:lang="pl">Polityka systemu powstrzymuje współdzielenie połączeń przez otwartą sieć WiFi</message>
    <message xml:lang="sl">Sistemska pravila preprečujejo deljenje povezav preko odprtega WiFi omrežja</message>
    <message xml:lang="sv">Systemets policy förhindrar delning av anslutningar via ett öppet trådlöst nätverk</message>
    <message xml:lang="zh_CN">系统策略组织使用公开 WiFi 网络共享连接</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

</policyconfig>